@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
}

:root {
    --Orange500: hsl(25, 97%, 53%);

    --White: hsl(0, 100%, 100%);
    --Grey500: hsl(217, 12%, 63%);
    --Botton: hsl(213, 16%, 22%);
    --Grey900: hsl(213, 19%, 18%);
    --Grey950: hsl(216, 12%, 8%);
}

body {
    background-color: var(--Grey950);
    font-family: "Overpass";
}

main {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

[hidden] {
    display: none !important;
}

/*Rating state start*/

#rating-container {
    background-color: var(--Grey900);
    width: 300px;
    height: 310px;
    border-radius: 20px;
    padding:20px;
}

#star {
    border-radius: 50%;
    padding: 10px;
    background-color: var(--Botton);
    margin-bottom: 20px;
}
    
h1 {
    color: var(--White);
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 15px;
}

p {
    color: var(--Grey500);
    font-size: 15px;
    margin-bottom: 20px;
}

#rating-bottuns {
    display: flex;
    justify-content: space-between;

}

.rating-btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--Botton);
    color: var(--Grey500);
    font-weight: 700;
    border: none;
    margin-bottom: 20px;
}

#submit-btn {
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    border: none;
    color: var(--Grey900);
    background-color: var(--Orange500);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;

}

/*Thank you state start*/

#thanks-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    background-color: var(--Grey900);
    width: 300px;
    height: 310px;
    border-radius: 20px;
    padding:20px;
}

#credit-card-machine {
    
    margin: 20px;
}

#final-rating {
    color: var(--Orange500);
    background-color: var(--Botton);
    padding: 5px 10px 5px 10px;
    margin-bottom: 25px;
    border-radius: 20px;
}

#thanks-text {
    text-align: center;
}


@media screen and (min-width: 992px) {
    .rating-btn:hover {
        background-color: var(--Orange500);
        color: var(--Grey950);
    }

    #submit-btn:hover {
        background-color: var(--White);
    }
}